@{
    ViewData["Title"] = "Logowanie";
}

<div class="container text-start">
    <div class="row">
        <div class="col-4 justify-content-end">
            <label>Nazwa użytkownika:</label>
        </div>
        <div class="col-8 justify-content-start">
            <input type="text">
        </div>
    </div>
</div>
