@{
    ViewData["Title"] = "Dodawanie i edycja wiadomości";
    ViewBag.news = ViewBag.news ?? new List<Article>();
}

<h2>edycja wiadomości</h2>
<form><button type="submit" asp-controller="News" asp-action="AddArticleGet">Add...</button></form>

@foreach (var item in ViewBag.news)
{
    <p>
        <b>@item.Title</b><br>
        @item.Content
    </p>
}